{% load thumbnail %}

{% if picture_link %}
    <a href="{{ picture_link }}"
    {% if instance.link_target %} target="{{ instance.link_target }}"{% endif %}
    {{ instance.link_attributes_str }}>
{% endif %}

{# start render figure/figcaption #}
{% if instance.caption_text %}
    <figure style="float:left;margin-right:1em;">
{% endif %}
{# end render figure/figcaption #}


<img src="{{ instance.img_src }}"
    alt="{% if instance.picture.default_alt_text and not instance.attributes.alt %}{{ instance.picture.default_alt_text }}{% endif %}"
    {% if instance.width %} width="{{ instance.width }}"{% endif %}
    {% if instance.height %} height="{{ instance.height }}"{% endif %}
    {% if img_srcset_data %}
        srcset="
            {% for size, thumb in img_srcset_data %}
                {{ thumb.url }} {{ size }}w,
            {% endfor %}
            {{ instance.img_src }} {{ picture_size.size.0 }}w
        "
        sizes="
            {% for size, thumb in img_srcset_data %}
                (max-width: {{ size }}px) {{ size }}px,
            {% endfor %}
            {{ picture_size.size.0 }}px
        "
    {% endif %}
    {{ instance.attributes_str }}
>

{# start render figure/figcaption #}
{% if instance.caption_text %}
        <figcaption>{{ instance.caption_text }}</figcaption>
    </figure>
{% endif %}
{# end render figure/figcaption #}

{% if picture_link %}
    </a>
{% endif %}