{% extends "base.html" %}
{% load cms_tags humanize %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% for post in object_list %}
        <h3>
            <a href="{{post.get_absolute_url}}">
            {% render_model post "title" %}</a>
            , {{ post.create_date|naturaltime }}
        </h3>
    {% endfor %}
{% endblock content %}