{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{{object.title}} | {% page_attribute "page_title" %}{% endblock title %}


{% block content %}
    <h1>{% render_model object "title" %}</h1>
    <div>
        {% render_placeholder object.introduction %}
    </div>
    <div>
        {% render_placeholder object.content %}
    </div>
{% endblock content %}