{% load menu_tags %}
<ul class="navbar-nav mr-auto">
    {% for child in children %}
        {% if child.children %}
            <li class="nav-item dropdown {% if child.selected %} active{% endif %}">
                <a class="nav-link dropdown-toggle" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ child.get_menu_title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for subchild in child.children %}
                        <a class="dropdown-item"  href="{{ subchild.attr.redirect_url|default:subchild.get_absolute_url }}">{{ subchild.get_menu_title }}</a>
                    {% endfor %}
                </div>
            </li>
        {% else %}
            <li class="nav-item child{% if child.selected %} active{% endif %}">
                <a class="nav-link" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                    {% if child.children %}
                        <ul>
                            {% show_menu from_level to_level extra_inactive extra_active "menu_items.html" "" "" child %}
                        </ul>
                    {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>