{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-9">
        {% placeholder "content" %}
    </div>
    <div class="col-sm-12 col-md-3">
        {% placeholder "sidebar" %}
    </div>
</div>
{% endblock content %}
